*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




#containerid{
    width: 100%;
    min-height: 70vh;
    overflow: hidden;
    background-color: #fff;
	box-shadow: 0 0 3px 0 rgba(0,0,0,0.5);
    padding: 30px;
}

.imgdiv img{
    width: 400px;
    height: 600px;
    padding: 20px;
}

