*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maindivchoseus{
    padding: 40px;
    background-image: linear-gradient(90deg, rgb(195, 231, 176) 0%, rgb(157, 224, 219) 100%);
}


.imgclass img{
    padding: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

.imgclass img:hover{
    transform: translate(10px);   
}

.choseusparadiv p{
    font-size: 1.0rem;
    line-height: 1.6;
    word-spacing: 2px;
    font-weight: 400;
    color:#606060;
}

.choseusheading6div i{
    color: lightcoral;
}

.choseusheading6div h6{
    font-size: 1.0rem;
    line-height: 2.0;
    font-weight: 400;
    color:#606060;
}


.choseusheading2div h2{
    font-size: 1.8rem;
    margin: 20px 0 30px 0;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 5px;
    color:#606060;
}
    
.rightimgclass{
    padding: 30px;
    margin: auto;
}

.rightimgclass img{
    width: 300px;
    height: 450px;
}