:root{
    font-size: 20px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Servicediv{
    width: 100%;
    height: auto;
    margin: 100px 0;
    text-align: center;
}

.extra-servicediv{
    background: #fff;
    border-bottom: medium none;
    padding: 50px!important;
    border-radius: 3px;
    transition: 0.3s;
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.3);

}

.mainheading h1{
    font-size: 1.8rem;
    margin: 20px 0 30px 0;
    font-weight: bold;
    line-height: 1.5;
    word-spacing: 5px;
    color:#606060;
}
.extra-servicediv p{
    font-size: 0.7rem;
    line-height: 1.6;
    font-weight: 400;
    color:#606060;
}

.extra-servicediv h2{
    font-size: 0.9rem;
    margin: 20px 0 15px 0;
    font-weight: bold;
    line-height: 1.1;
    word-spacing: 4px;
}

.extra-servicediv:hover{
    transform: translateY(-20px);
}