@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900);

:root {
	--column-size: min(100%, 1000px);
	--slider-size: min(100%, 360px);
}

body {
	 background: #dce1df;
	 color: #4f585e;
	 font-family: 'Source Sans Pro', sans-serif;
	 text-rendering: optimizeLegibility;
}
.heading{
    background-color: #003F87;
    color: white;
}
section {
	width: var(--column-size);
	margin: 0 auto;
	min-height: 100vh;
	box-shadow: #4f585e;
	background: rgb(0 0 0 / 0.1);
}
.Image{
	margin-top: 20px;
	width: 400px;
	max-width: 400px;
	float: left;
}
.descrition{
	float: none;
	display: inline-block;
	margin-top: 30px;
	margin-right: 20px;
}
.contactBtn{
	float: right;
}
.clearfix::after {
	content: "";
	clear: both;
	display: table;
  }
  