.navbar-dropdown-menu{
    width: auto;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
    z-index: 2;
}

.navbar-dropdown-menu li{
    background: #fff;
    cursor: pointer;
    
}

.navbar-dropdown-menu li:hover{
    background: #5cabff;
}

.navbar-dropdown-menu.clicked{
    display: none;
}

.navbar-dropdown-links{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 10px;
}